
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSitecore.cshtml";
}
<div class="jumbotron">
    <span class="well-sm label label-danger"><b>Sitecore</b></span><span class="well-sm label label-info"><b>Development</b></span>
    <h2 class="text-uppercase"><strong>Sitecore Developer</strong></h2>
    <p>Becomes a back-end Sitecore Developer.</p>
</div>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Tech", "Index", "Tech", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Sitecore", "Sitecore", "Tech", new { area = "" }, null)</li>
    <li class="active">Developer</li>
</ol>


<div class="page-header">
    <h2>Course Description</h2>
    <p>
        Learn how to developer for  Sitecore by reviewing the basic concepts of Sitecore architecture. Try out this introductory course that was created with Sitecore Rocks.
    </p>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <div class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-play fa-5x fg-red"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">SitecoreRocks</h4>
                            Learn how and when to use different Sitecore Interface.
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1C0WKk08yE8"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <div class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-play fa-5x fg-red"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Presentation</h4>
                            Learn how and when to use different Sitecore Interface.
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1C0WKk08yE8"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <div class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-play fa-5x fg-red"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Components</h4>
                            Learn how and when to use different Sitecore Interface.
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1C0WKk08yE8"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>




    

