
@{
    ViewBag.Title = "GlassMapper";
    Layout = "~/Views/Shared/_LayoutTech.cshtml";
}
<div class="jumbotron">
    <h1 class="text-capitalize text-center">Glass Mapper</h1>
    <p class="text-center">
        Glass.Mapper is the only ORM you will need to improve your Sitecore and Umbraco development. It only takes a few minutes to setup and then you are ready to start using classes and interfaces in your project
    </p>    
    <p class="text-right">
        @Html.ActionLink("Learn More", "Index", "GlassMapper", null, new { @class = "btn btn-primary" })
    </p>
</div>
