
@{
    ViewBag.Title = "Sitecore";
    Layout = "~/Views/Shared/_LayoutTech.cshtml";
}

<div class="jumbotron">
    <h1 class="text-capitalize text-center">Sitecore</h1>
    <p class="text-center">
        Sitecore is the global leader in customer experience management that lets marketers own the experience they deliver to their customers and prospects.
    </p>
    <p class="text-right">
        @Html.ActionLink("Learn More", "Index", "Sitecore", null, new { @class = "btn btn-primary" })
    </p>
</div>

