
@{
    ViewBag.Title = "TeamCity";
    Layout = "~/Views/Shared/_LayoutTech.cshtml";
}



<div class="jumbotron">
    <h1 class="text-capitalize text-center">Team City</h1>
    <p class="text-center">
        Powerful and user-friendly Continuous Integration and Deployment server that works out of the box
    </p>
    <p class="text-right">
        @Html.ActionLink("Learn More", "Index", "TeamCity", null, new { @class = "btn btn-primary" })
    </p>
</div>