
@{
    ViewBag.Title = "TeamDevelopmentSitecore";
    Layout = "~/Views/Shared/_LayoutTech.cshtml";
}

<div class="jumbotron">
    <h1 class="text-capitalize text-center">TDS</h1>
    <p class="text-center">
        Team Development for Sitecore (TDS) brings all of your Sitecore objects into Visual Studio. Imagine having all the benefits of a Source Control Management System fully integrated into your Sitecore Development environment. Team Development for Sitecore (TDS) makes that a reality. Now you are able to take advantage of the value Visual Studio Team System (VSTS), Subversion, or many other Source Code Management Systems offer to you on your Sitecore-based projects 
        </p>
    <p class="text-right">
        @Html.ActionLink("Learn More", "Index", "TeamDevelopmentSitecore", null, new { @class = "btn btn-primary" })
    </p>
</div>

