
@{
    ViewBag.Title = "WindowsAzure";
    Layout = "~/Views/Shared/_LayoutTech.cshtml";
}

<div class="jumbotron">
    <span class="well-sm label label-success"><b>OctopusDeploy</b></span><span class="well-sm label label-primary"><b>Management</b></span>
    <h2 class="text-capitalize"><strong>Windows Azure</strong></h2>
    <p class="text-justify">
        Create and configure all Azure services using our intuitive web-based management portal. Work on any browser, on any device. No install is required
    </p>    
</div>


<div class="well">

    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Screen" aria-controls="Screen" role="tab" data-toggle="tab">Windows Azure</a></li>
            <li role="presentation"><a href="#Video" aria-controls="Video" role="tab" data-toggle="tab">Video</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Screen">Windows Azure</div>
            <div role="tabpanel" class="tab-pane" id="Video">


                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Installation
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                About Installation
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Gettting Strted
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                About First Steps
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Build Systems
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                How to create a builds
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

</div>