
@{
    ViewBag.Title = "WindowsAzure";
    Layout = "~/Views/Shared/_LayoutTech.cshtml";
}

<div class="jumbotron">
    <h1 class="text-capitalize text-center">TFS</h1>
    <p class="text-center">
        Create and configure all Azure services using our intuitive web-based management portal. Work on any browser, on any device. No install is required
    </p>
    <p class="text-right">
        @Html.ActionLink("Learn More", "Index", "WindowsAzure", null, new { @class = "btn btn-primary" })
    </p>
</div>


